<header>
    <md-toolbar color="primary">
        <span>{{ name }}</span>
        <nav>
            <ul>
                <li>
                    <a [routerLink]=" ['Index'] ">Index</a>
                </li>
                |
                <li>
                    <a [routerLink]=" ['About'] ">About</a>
                </li>
            </ul>
        </nav>
    </md-toolbar>
</header>
<md-progress-bar mode="indeterminate" color="primary" *ngIf="loading"></md-progress-bar>

<main>
    <router-outlet></router-outlet>
</main>

<footer>
    WebPack Angular 2 Starter by
    <a [href]="url">@AngularClass</a>
    <div>
        <img src="./assets/angular-logo.png" width="10%">
    </div>
</footer>
