$baseline-grid:            24px !default;
$layout-breakpoint-xs:     0 !default; // 600px
$layout-breakpoint-sm:     0 !default; // 960px
$layout-breakpoint-md:     0 !default; // 1280px
$layout-breakpoint-lg:     0 !default; // 1920px
$layout-gutter-width:      ($baseline-grid * 2) !default;

@import '~angular-material-source/src/core/services/layout/layout.scss';

body {
    margin: 0;
}

router-outlet {
    display: none;
}
